<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>117313109345-6dvfc4v1si49ca1uefpa5a905lb2nst3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.117313109345-6dvfc4v1si49ca1uefpa5a905lb2nst3</string>
	<key>API_KEY</key>
	<string>AIzaSyCF9djoN42AfYIotsj0UmUXSpn7wA0_vPU</string>
	<key>GCM_SENDER_ID</key>
	<string>117313109345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hoonjoo.bamboo</string>
	<key>PROJECT_ID</key>
	<string>bamboo-7955e</string>
	<key>STORAGE_BUCKET</key>
	<string>bamboo-7955e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117313109345:ios:91120c272aa29176c15920</string>
</dict>
</plist>